body {
    background-color: #111;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.logo-container {
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    font-family: Arial, sans-serif;
    font-weight: bold;
    color: white;
    font-size: 150px;
}
#m{
    margin-right: -17px;
}
.logo-part {
    position: relative;
    opacity: 0;
    transform: scale(0.5);
}
.part{
    width: 62px;
    overflow: hidden;
}
.text{
    position: relative;
    height: 89px;
    overflow: hidden;
    display: inline-block;
}
.hanger{
    position: absolute;
    left: 5px;
    top: 7px;
    z-index: -1;
}
.line{
    display: inline-block;
    position: absolute;
    top: 77px;
    width: 37px;
    height: 7px;
    background-color: #111;
}
#hanger {
    width: 70px;
    margin-right: 10px;
}

#button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 45px;
    height: 45px;
    position: absolute;
    bottom: 15px;
    right: 20px;
    border-left: 3px solid #111;
    border-radius: 50%;
    background: white;
}
.logo{
    display: flex;
    width: 32px;
    height: 32px;
    background-color: #111;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
}
.logo div{
    width: 14px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 4px;
}
.box{
    display: inline-block;
    width: 5px;
    height: 5px;
    background-color: white;
    border-radius: 1px;
}

.logo-part {
    position: relative;
    opacity: 0;
    transition: all 800ms ease-out; 
}

.logo-part:first-child {
    transform: translateY(90px);
}
.logo-part:nth-child(2) {
    transform: translateY(-70px);
}
.logo-part:last-child {
    transform: translateX(70px);
}
.logo-part.show {
    opacity: 1;
    transform: translateY(0); 
}
#intro {
  width: 100%;
  height: 100vh;
  background: #111;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}
.fade-out {
  opacity: 0;
  transition: opacity 1s ease; /* المدة 1 ثانية - تقدر تزودها */
}

